$white: rgb(250,250,250);
$blue: rgb(0,135,255);
$greyblack: rgb(50,50,50);
$black: rgb(10,10,10);
$purple: rgb(73, 1, 144);
$blue-fb: rgb(59,89,152);
$green-wsp: rgb(37, 211, 102);
$blue-in: rgb(0,119,181);
$orange: rgb(255,73,0);